@font-face { 
    font-family: gotham; 
    src: url('fonts/GothamRoundedBook_21018.ttf') format('truetype');
} 
@font-face { 
    font-family: myriadwebpro; 
    src: url('fonts/MyriadWebPro.ttf') format('truetype');
} 
@font-face { 
    font-family: myriadwebpro_bold; 
    src: url('fonts/MyriadWebPro-Bold.ttf') format('truetype');
} 
@font-face { 
    font-family: myriadwebpro_italic; 
    src: url('fonts/MyriadWebPro-Italic.ttf') format('truetype');
} 


* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
    font-family: gotham;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.title{ text-align: center; font-size: 25px; margin-top: 15px; margin-left: -15px; 
    webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }
.subtitle{ text-align: center; font-size: 20px; color: #4E4E4E; margin-top: 15px; }

.container{ width: 100%; /*max-width: 1024px;*/ margin: auto; background-color: #fff; }

.col{ webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.col100{ width: 100%; padding: 0 10px; }

/* center div variable width */
.outer{ position: relative; left: 50%; float: left; }
.inner{ position: relative; left: -50%; float: left; }

/* header -------------- */
.header{ width: 100%; height: 103px; background-color: #66A5A5; }
    .bt_left_panel{ position: absolute; z-index: 99; left: 30px; top: 36px; }
    .bt_right_panel{ position: absolute; z-index: 99;  right: 30px; top: 30px; }
    .logo{ position: relative; text-align: center; margin-top: 20px; }


/* MENU  eMyBaby -------------- */
.menu_logo{ text-align: center; border-bottom: 1px solid #D6D6D6; padding: 36px 0; }

.menu_baby_item{ clear: both; border-bottom: 1px solid #D6D6D6; height: 53px; }
    .menu_baby_img{ float: left; }
    .menu_baby_txt{ float: left; margin-left: 10px; margin-top: 20px; }
    .menu_baby_marca{ float: right; margin-right: 10px; margin-top: 15px; }


/* MENU idiomes -------------- */
.menu_idiomas{ webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.item_idioma{ clear: both; cursor: pointer; padding: 20px 10px; }
    .item_idioma_flag{ float: left; }
    .item_idioma_txt{ float: left; margin-left: 10px; margin-top: 0px; }


/* video ----------- */
.video { width: 100%; /*max-width: 1200px;*/  margin: 20px auto 10px auto; cursor: pointer; }
.video video{ width: 100%; height: auto; margin-left: -12px; }

#myVideo::-webkit-media-controls-fullscreen-button {
    display: none !important;
    z-index: 2147483647;
}

/* productos ----------- */
.img_producte{ text-align: center; margin-top: 20px; webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }
.img_producte img{ margin-left: -15px;  }
.subtitle_producto, .subtitle_producto_margin{ font-family: myriadwebpro_bold; position: relative; z-index: 99; text-align: center; font-size: 27px; color: #444445; 
    margin-left: -15px; webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }
.subtitle_producto{ margin-top: -60px; }
.subtitle_producto_margin{ margin-top: -10px; }

.product_footer{ width: 100%; height: 150px; background-color: #66A5A5; margin-left: -12px; margin-top: -13px; }
    .icon_product{ position: absolute; }
    .icon_product_txt{ font-family: gotham; letter-spacing: 1px; position: absolute; color: #fff; text-align: center; bottom: 30px; font-size: 14px; width: 191px; text-align: center; }

    #slider_txt{ float: left; width: 100%; height: 150px; display: table; 
        webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 200px; padding-right: 20px; }
    .slider_txt_inner{ color: #fff; font-size: 17px; display: table-cell; height: 150px; vertical-align: middle; text-align: center; line-height: 1.6; letter-spacing: 1px; }
    .stiinner{ display: none; }


/* emybaby ----------------------- */
.menu_emybaby{ float: left; width: 240px; border-right: 1px solid #D6D6D6; margin-top: -10px; margin-left: -10px; }

.emybaby_title{ font-family: gotham; font-weight: bold; color: #1F3743; font-size: 20px; letter-spacing: 1; } 
.emybaby_txt{ margin-top: 10px; line-height: 1.5; }

#leftpanel2 a, .menu_emybaby a{ color: #1F3743; font-size: 11px; letter-spacing: 0.6; }
#rightpanel2 a{ color: #fff; }



@media only screen and (min-width: 580px) {
    /* emybaby ----------------------- */
    .pages_emybaby .bt_left_panel{ display: none; }

    .container_emybaby{ width: 300px; margin: 20px auto; padding-left: 220px; }

    /* footer ---------------------- */
    .store{ margin-top: 10px; }
    .descarga_en{ position: absolute; font-family: myriadwebpro_bold; color: #575758; margin-left: 23px; font-size: 14px; }
    .appstore, .logoapp, .androidstore { float: left; margin: 0 20px; }
    .footer_txt{ color: #fff; text-align: center; padding: 14px 0; font-size: 15px; font-weight: 100; font-family: myriadwebpro; letter-spacing: 1px; }
    .footer_txt a{ color: #fff; font-family: myriadwebpro; font-size: 17px;  }
}

@media only screen and (max-width: 579px) {
    /* header ------------------- */
    .bt_left_panel{ position: absolute; z-index: 99; left: 5px; top: 36px; }
        .bt_left_panel img{ width: 80%; height: auto; }
    .bt_right_panel{ position: absolute; z-index: 99;  right: 5px; top: 30px; }
        .bt_right_panel img{ width: 40px; height: auto; }
    .logo{ position: relative; text-align: center; margin-top: 35px; }
    .logo img{ width: 180px; height: auto; }


    .img_producte img{ margin-left: -15px; width: 100%; max-width: 500px; height: auto;  }


    /* emybaby ----------------------- */
    .pages_emybaby .menu_emybaby{ display: none; }

    .container_emybaby{ width: 90%; max-width: 300px; margin: 20px auto 20px 0; }


    /* footer ---------------------- */
    .descarga_en{ display: none; }
    .logoapp {margin-left: -30px; }
    .appstore, .androidstore { display: none; }
    .footer_txt{ color: #fff; text-align: center; padding: 14px 0; font-size: 15px; font-weight: 100; font-family: myriadwebpro; letter-spacing: 1px; }
    .footer_txt a{ color: #fff; font-family: myriadwebpro; font-size: 17px;  }
}



@media only screen and (min-width: 635px) {
    
}

@media only screen and (max-width: 634px) {
    .store{ margin-left: -20px; }
    .descarga_en{ display: none; }
    .logoapp img{ width: 95px; height: auto; }
}