* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;*/
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7),color-stop(0.51, #E4E4E4) );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.app { background:url(../img/logo.png) no-repeat center top; position:absolute; left:50%; top:50%; height:50px; width:225px; text-align:center;
    padding:180px 0px 0px 0px; margin:-115px 0px 0px -112px; }

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app { background-position:left center; padding:75px 0px 75px 170px; margin:-90px 0px 0px -198px; }
}

h1 { font-size:24px; font-weight:normal; margin:0px; overflow:visible; padding:0px; text-align:center; }

.event { border-radius:4px; -webkit-border-radius:4px; color:#FFFFFF;font-size:12px;margin:0px 30px;padding:2px 0px; }
    .event.listening { background-color:#333333; display:block; }
    .event.received { background-color:#4B946A; display:none; }

@keyframes fade { from { opacity: 1.0; } 50% { opacity: 0.4; } to { opacity: 1.0; } }
@-webkit-keyframes fade { from { opacity: 1.0; } 50% { opacity: 0.4; } to { opacity: 1.0; } }
 
.blink { animation:fade 3000ms infinite; -webkit-animation:fade 3000ms infinite; }

/* ----------------------------------------------- */

#container { display: flex; min-height: 100%; overflow-x: hidden; }

/* bt menu esq */
input[type=checkbox]#toggle  { position: absolute; opacity: 0; }
#toggle_label { position: absolute; top: 37px; left: 40px; z-index: 1; display: block; cursor: pointer; width:37px; height:30px; background-image: url('../img/bt_menu.png');
    transform: translate3d(0, 0, 0); transition: transform .4s; }
input[type=checkbox]#toggle:checked ~ #toggle_label { transform: translate3d(250px, 0, 0); }
input[type=checkbox]#toggle:checked ~ .content { transform: translate3d(250px, 0, 0); }
input[type=checkbox]#toggle:checked ~ .slide-menu { transform: translate3d(0, 0, 0); }
input[type=checkbox]#toggle:checked ~ .slide-menu .menu li { width: 100%; }

/*menu esquerra*/
.slide-menu { transform: translate3d(-250px, 0, 0); position: absolute; width: 250px; left: 0;  height: 100%; transition: all .4s; overflow: scroll; 
    overflow-x :hidden; box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;border-right: 2px solid #D6D6D6; }

.slide-menu h1 { margin: 10px; }
.menu { list-style: none; padding: 0; margin: 0; }
.menu a { display: block; text-decoration: none; color: #000; font-size: 1.1em; padding: 15px; }

/* content*/
.content { width:100%; transform: translate3d(0, 0, 0); transition: transform .4s; overflow-x: hidden; }

.header{ width: 100%; height: 104px; background-color: #66A5A5; }
    .logo{ position: relative; top: 20px; text-align: center; }
    .logo img{ width: 90%; max-width: 345px; height: auto; }
    .menu_idioma{ position: absolute; right: 20px; top: 20px; }


